.Allproject{
    display: flex;
    height:500px;
   justify-content:space-around
}
.Project{
background-color: brown;
width:400px;
}
.InformationProject{
    background-color:chartreuse;
    width:400px;
}