.Link{
    display: flex;
    text-decoration: none;
    color: white;
}
.Linkedin a {
    text-decoration: none;
    color: white;
    width: 170px;
    background-color:#0A66C2;
    margin: auto;
}
.GitHub a {
    text-decoration: none;
    color: white;
    width: 170px;
    background-color:#141516;
    margin: auto;
}
.description
{color: white;}