.Link{
    display: flex;
    text-decoration: none;
    color: white;
}
.Linkedin a {
    text-decoration: none;
    color: white;
    width: 170px;
    background-color:#0A66C2;
    margin: auto;
}
.GitHub a {
    text-decoration: none;
    color: white;
    width: 170px;
    background-color:#141516;
    margin: auto;
}
.description
{color: white;

}

.divline{
display: flex;
}
.line
{
margin-top:0px;
border-right:2px solid;
animation: blinkcusor 500ms infinite;
}
.Linkedin{
    width: 170px;
    background-color:#0A66C2;
    margin: auto;
    display: flex;
    align-items: center;
    text-align: center;
}
.GitHub{
    width: 170px;
    background-color:#141516;
    margin: auto;
    display: flex;
    align-items: center;
    text-align: center;
} 
@keyframes blinkcusor {
    from {border-right-color:white}
   to {border-right-color:transparent}
}

