.home{
    display: flex;
    margin-top: 170px;
}
.Bio{
    width:40%;
    height:550px;
    margin: 0 auto;
}  
.Random{
    width:40%; 
    height:550px;
    margin: 0 auto;
    display: flex ;
}     