.Navbardark{
    display: flex;
    width: 100% ;
    background-color:var(--nav-color);
    height:100px;
    position: fixed;   
    top: 0;
    left: 0;
    z-index: 1;
}
.NavbarLight{
  display: flex;
  width: 100% ;
  background-color:var(--nav-colorlight);
  height:100px;
  position: fixed;   
  top: 0;
  left: 0;
  z-index: 1;
}
.Navbardark a {
    text-decoration: none;
    color: white;
    font-size: 21px;
    padding: 35px;  
    position: relative;
  }
  .Navbarlight a {
    text-decoration: none;
    color: white;
    font-size: 21px;
    padding: 35px;  
    position: relative;
  }
  #homeimg{
    width:40px;
  }
  
.Navbar-left {
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    padding-right: 17%;
    display: flex;
    
  }
.Navbar-right {
    display: flex;
    margin: auto;
    align-items: center;
  }
.magnifier img{
  width: 50px;
  border-radius: 100%;
  background-color:#012342;
  border:gray;
  opacity: 0.6;


}
.Navbardark a::after {
  content: "";
  position: absolute;
  bottom:0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #fce8e8;
  transition: width 0.3s ease;
}
.Navbarlight a::after {
  content: "";
  position: absolute;
  bottom:0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #fce8e8;
  transition: width 0.3s ease;
}

.Navbardark a:hover::after {
  width: 100%;
}
.Navbarlight a:hover::after {
  width: 100%;
}
#houselink{
  padding:0px;
}
.magnifier input {
  border-radius: 30px;
  height: 5vh;
}
.magnifier{
}
