.Navbar{
    display: flex;
    width: 100% ;
    background-color:#082A4D;
    height:100px;
    position: fixed;   
    top: 0;
    left: 0;
}
.Navbar a{
    text-decoration: none;
    color: white;
    font-size: 21px;
    padding: 35px;  
  }
  
.Navbar-left {
    margin: auto;
    padding: 30px;
    padding-right: 17%;
  }
.Navbar-right {
    display: flex;
    margin: auto;
  }
.after{
  display: none;
}


  