.feedback{
    width: 100%;
    height:100hv;
    color: rgb(181, 219, 196); 
}
.FeedBackimprove{
    display:flex;
    justify-content: space-around;
}
.FeedBackOpinion{
    width:40%; 
}
.FeedBackbox{
    width:40%;
}
#textarea  {
    text-align: center;
}
.feedback-input {
    width: 70%;
    height: 150px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical; 
}  
.fristfeedback{
    display: flex;
    justify-content: center;
}
.feedbacktext h1 {
    width: 70%;
    margin-bottom: 0px;
    text-align: center
;}
