.skillimg {
    width: 120px;
    height: 120px;
    margin :20px;

}
.Ability{
    display: flex;
}
.Skill{
    width:60%;
    justify-content: center; 
    align-items: center; 
    height: 70vh; 
}
.SkillDescription
{   width:25%;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 40vh; }

