.AdventureGameBoard {
    margin: 0;
    padding:O;
    box-sizing: border-box;
}
.game-board {
    margin-top:80px;
    width: 100%;
    height: 500px;
    border-bottom: 15px solid green;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87ceeb, #e0f6ff);
}
.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    position: relative;
    animation: spin 5s linear infinite; 
    z-index: 1;

  } 
;
  .slice {
    position: absolute;
    width: 100%;
    height: 100%;
    ;

  }
  
  #slice1 {
    transform: rotate(0deg);
    background-color:conic-gradient(
        red 0deg 120deg,
    );
    z-index: 3;
  }
  
  #slice2 {
    transform: rotate(120deg);
    background-color:conic-gradient(
        blue 120deg 240deg,
        )  }
  
  #slice3 {
    transform: rotate(240deg);
    background-color:conic-gradient(
        green 240deg 360deg
        )  }
  
  @keyframes spin {
    100% {
      transform: rotate(360deg); 
    }
  }
  