.RandomChoise{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 550px; 
} 
.Avatar{ 
    width: 250px;
    margin: auto;
    padding: 70px;
    border-radius:50%;
    animation: none;
}
.wheel {
    background-color: #082A4D;
    width: 400px;
    border-radius: 50%;
    animation: spin 20s linear infinite;
    animation: none;
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

