html{scroll-behavior: smooth;}
body {
    background-image:radial-gradient(circle, #001469, rgb(42, 90, 145));
    animation: degrade 3s infinite alternate ;
    background-size:500% 100%;
  }

@keyframes degrade {
  0%{
  background-position-x: 0%;  
  }
  100% {
    background-position-x: 100%;
  }
}